@font-face {
    font-family: 'robotobold_condensed';
    src: url('../fonts/roboto-bold-condensed.woff2') format('woff2'),
         url('../fonts/roboto-bold-condensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensedlight';
    src: url('../fonts/roboto-condensed-light_allfont.ru-webfont.woff2') format('woff2'),
         url('../fonts/roboto-condensed-light_allfont.ru-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotocondensed';
    src: url('../fonts/roboto-condensed.woff2') format('woff2'),
         url('../fonts/roboto-condensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular.woff2') format('woff2'),
         url('../fonts/roboto-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'tt_lakes_condensedbold';
    src: url('../fonts/ttlakescondensed.woff2') format('woff2'),
         url('../fonts/ttlakescondensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}