.category {
	@include min-max(280px, 1020px, 40px);
	margin: 20px auto;

	h1, h2, h3, h4, h5, h6 {
		font-size: 24px;
		line-height: 32px;
		color: #000;
		font-family: robotocondensed;
		border-bottom: 1px solid #c9c7c7;
		display: inline-block;
		position: relative;

		&:before {
			background: #f05649;
			width: 44px;
			height: 3px;
			position: absolute;
			bottom: -1px;
			left: 0;
			content: "";
		}

	}

	i {
		font-style: italic;
	}

	b {
		font-weight: normal;
		font-family: robotobold_condensed;
	}


	h1 {
		font-size: 34px;
		line-height: 35px;
		padding-bottom: 5px;
	}

	h2 {
		font-size: 28px;
		padding-bottom: 3px;
	}

	h3 {
		font-size: 24px;
	}

	h4 {
		font-size: 22px;
	}

	p {
		font-size: 16px;
		line-height: 25px;
		margin: 10px 0 22px;
		color: #616060;

		+ ul, + ol {
			margin-top: -15px;
		}

	}

	a {
		border-bottom: 1px solid #f05649;
		color: #000;
		text-decoration: none;

		&:hover {
			color: #ce9f3c;
		}

	}

	ul {
		margin: 15px 0 15px 18px;

		li {
			font-size: 16px;
			margin: 10px 0;

			&:before {
				content: '';
				float: left;
				width: 15px;
				height: 9px;
				border-bottom: 2px solid #f05649;
				margin-left: -18px;
				margin-right: 5px;
			}
			
		}

		a {
			text-decoration: none;
			border-bottom: 1px dashed #f05649;
			color: #000;
			font-family: robotocondensed;

			&:hover {
				color: #ce9f3c;
			}

		}

	}

	ol {
		counter-reset: olItemCounter;

		li {
			font-size: 16px;
			margin: 15px 0;

			&:before {
				counter-increment: olItemCounter;
				content: counter(olItemCounter)'';
				width: 25px;
				height: 22px;
				background: #f05649;
				border-radius: 25px;
				float: left;
				text-align: center;
				font-size: 16px;
				color: #fff;
				margin-right: 8px;
				margin-top: -2px;
				font-family: robotoregular;
				padding-top: 3px;
				font-weight: bold;
			}

			ol {
				counter-reset: olItemCounter2;
				margin-left: 8px;
				margin-top: 10px;
				margin-bottom: 10px;

				li {

					&:before {
						counter-increment: olItemCounter2;
						content: counter(olItemCounter) '.' counter(olItemCounter2);
						background: none;
						color: #f05649;
						font-weight: bold;
					}

				}

			}

			ul {
				margin-left: 38px;
				counter-reset: none;
				margin-top: 10px;
				margin-bottom: 10px;

				li {

					&:before {
						counter-increment: none;
						content: '';
						float: left;
						width: 15px;
						height: 10px;
						border-bottom: 2px solid #f05649;
						margin-left: -18px;
					}
					
				}

			}

		}

		a {
			text-decoration: none;
			border-bottom: 1px dashed #f05649;
			color: #000;
			font-family: robotocondensed;

			&:hover {
				color: #ce9f3c;
			}

		}

	}

	table {
		width: 100%;
		border-collapse: separate;
		border-spacing: 1px;

		thead {
			background: #614a4a;
			
			tr {

				th {
					text-align: left;
					color: #fff;
					font-size: 18px;
					line-height: 25px;
					font-family: robotocondensed;
					padding: 5px 10px 5px 15px;
					font-weight: normal;
					hyphens: auto;
					vertical-align: middle;
				}

			}

		}

		tr {

			td {
				padding: 15px 15px;
				background: #e8e6e6;
				vertical-align: middle;
				font-size: 16px;
				line-height: 25px;
				hyphens: auto;
				font-family: robotocondensed;
				font-weight: normal;

			}

			&:nth-child(odd) {
				td {
					background-color: #fff;
				}
			}

		}

	}

	.table {
		overflow: auto;
		margin: 20px 0;
	}



}

@media (max-width: 960px) {
	
	.category {
		padding: 0 20px;
	}

}

@media (max-width: 800px) {
	
	.category {
		flex-direction: column;
		margin-bottom: 0;
	}

}

@media (max-width: 560px) {
	
	.category {

		table {
			min-width: 500px;
		}

	}

}