.fresh-news {
	@include min-max(320px, 1020px, 40px);
	margin: 20px auto;

	.fresh-news__title {
		@include title();
		padding-left: 0;
		padding-top: 0;
	}

	.fresh-news__wrapper {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 15px 0 0;
	}

	.fresh-news__item {
		flex-basis: 32%;
		margin-right: 2%;
		margin-bottom: 20px;
		background: #999;
		display: flex;
		overflow: hidden;

		&:last-child {
			margin-right: 0;
		}
	}

	a {
		position: relative;
		text-decoration: none;
		display: block;
		width: 100%;
		border-bottom: none;
	}

	img {
		position: relative;
		width: 100%;
		height: auto;
		display: block;
	}

	p {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 100;
		text-overflow: ellipsis;
		font-size: 22px;
		line-height: 25px;
		font-family: robotocondensed;
		color: #fff;
		padding-top: 55px;
		padding-left: 25px;
		padding-right: 15px;
		display: inline-block;
		hyphens: auto;
	}

	.fresh-news__date {
		display: block;
		font-size: 16px;
		line-height: 25px;
		padding-top: 10px;
		position: relative;

		&:before {
			position: absolute;
			left: 0;
			top: 5px;
			width: 44px;
			height: 3px;
			background: #f05649;
			content: "";
		}

	}

	.fresh-news__all-news {
		font-size: 16px;
		line-height: 20px;
		border-bottom: 1px solid #c9c7c7;
		color: #000;
		text-decoration: none;
		position: relative;
		display: inline-block;
		font-family: robotocondensed;
		width: auto;

		&:after {
			content: "";
			background: url("../img/all-arrow.png") right center no-repeat;
			width: 19px;
			height: 14px;
			display: block;
			position: absolute;
			right: -33px;
			top: 4px;
		}

		&:hover {
			color: #ce9f3c;
			border-bottom: 1px solid #f05649;
		}

	}

}

.fresh-news-all {
	@include min-max(280px, 1020px, 0);
	margin: 20px auto;

	p {
		padding-top: 40px;
	}

	.fresh-news__item:nth-child(3n + 3) {
		margin-right: 0;
	}

}

.fresh-news-two-item {
	@include min-max(280px, 1020px, 0);
	margin: 20px auto;
	
	.fresh-news__item {
		flex-basis: 48.5%;
		margin-right: 3%;

		p {
			padding-top: 40px;
		}

		&:last-child {
			margin-right: 0;
		}

		&:nth-child(even) {
			margin-right: 0;
		}
	}

}

@media (max-width: 960px) {

	.fresh-news {
		padding: 0 20px;

		p {
			padding-top: 15px;
			padding-left: 15px;
			font-size: 18px;
			line-height: 21px;
		}

		.fresh-news__date {
			font-size: 14px;
			line-height: 22px;
		}

	}

	.fresh-news-all, .fresh-news-two-item {
		padding: 0;
	}

}

@media (max-width: 740px) {

	.fresh-news {
		
		.fresh-news__wrapper {
			flex-direction: column;
		}

		.fresh-news__item {
			margin: 10px 0;
			flex-basis: auto;
		}

	}

	 .fresh-news-two-item {

	 	.fresh-news__wrapper {
			flex-direction: row;
		}

		.fresh-news__item {
			flex-basis: 48.5%;
			margin-right: 3%;
			margin-bottom: 20px;
			margin-top: 0;

			p {
				padding-top: 40px;
			}

			&:last-child {
				margin-right: 0;
			}

			&:nth-child(even) {
				margin-right: 0;
			}
		}

	 }

}


@media (max-width: 580px) {

	.fresh-news-two-item {
		
		.fresh-news__wrapper {
			flex-direction: column;
		}

		.fresh-news__item {
			margin: 10px 0;
			flex-basis: auto;
		}

	}

}