.other-issues {
	
	.other-issues__title {
		@include title();
	}

	.other-issues__element {
		margin: 10px 0 15px;
	}

	a {
		font-size: 18px;
		line-height: 20px;
		text-decoration: none;
		color: #000;
		font-family: robotocondensed;
		margin-bottom: 3px;
		display: inline-block;
		border-bottom: none;
		
		&:hover {
			color: #ce9f3c;
		}

	}

	p {
	    font-size: 14px;
	    line-height: 20px;
	    font-family: robotocondensed;
	    margin: 0;
	    margin-top: 3px;
	    color: #414141;
	}

	.other-issues__text {
		font-size: 14px;
		line-height: 18px;
		font-family: robotoregular;
		color: #000;
	}

	span {
		color: #c05d7f;
    	margin-left: 20px;
	}

}