.social {
	flex-basis: 65.9%;
	margin-right: 20px;

	.content__right {
		flex-basis: 300px;
	}
	.social__title {
		@include title();
	}

	.social__wrapper {
		display: flex;
		justify-content: space-between;
		margin: 15px 0;
	}

	.social__vk-margin, .social__fb-margin, .socail__ok-margin {
		margin: 30px 0;
	}

}

@media (max-width: 880px) {
	
	.social {

		.social__wrapper {
			display: none;
		}

	}

}

@media (max-width: 800px) {
	
	.social {
		flex-basis: auto;
		flex-direction: column;

		.social__wrapper {
			display: none;
		}

		.social__vk, .social__fb, .social__ok {
			display: none;
		}

	}

}