.warning {
	background: #2c6978;
	border-left: 3px solid #f05649;
	padding: 8px 0 5px;
	margin: 20px 0;
	
	p {
		color: #fff;
		font-size: 18px;
		line-height: 25px;
		font-family: robotocondensed;
		padding: 0 25px;
	}

}